<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
</head>
<body>
	<div>
		<form action="#" th:action="@{/search}" th:object="${searchKeyword}" method="post">
			<input type="text" th:field="*{keyword}" />
			<input type="submit" value="Submit" />
		</form>
	</div>
	<div>
		<table>
			<tr th:each="esVideo : ${esVideos}">
				<td th:text="${esVideo.title}"></td>
				<td th:text="${esVideo.downloadUrl}"></td>
				<td th:text="${esVideo.getHightlightFields()}"></td>
				<td><a th:href="@{/video(id=${esVideo.id})}">...</a></td>
			</tr>
		</table>
	</div>
</body>
</html>